* {margin:0; padding:0;}
body {
font-family:'Maven Pro';
color:white;
}
li {
list-style:none;
}
a {
text-decoration:none;
color:black;
}
.textbox {
width:250px;
background:white;
outline:none;
padding:10px;
border:none;
box-shadow:0 0 2px #424242;
margin:2px;
}
.buttons {
width:80px;
padding:10px;
margin:2px;
outline:white;
border:none;
color:white;
}


header {
height:45px;
width:100%;
background:linear-gradient(white,lightgray);
box-shadow: 0 0 8px #424242;
}

@media screen and (min-width:800px){
body {
background:url('pattern.png');
}
header {
height:45px;
width:100%;
background:linear-gradient(white,lightgray);
box-shadow: 0 0 8px #424242;
}
#logo {
height:40px;
float:left;
padding:2px 0;
margin-left:4%;
}
.navmenu {
width:45%;
height:100%;
float:right;
font-size: 15px;
font-weight: 500;
}
.navmenu  li {
float:left;
padding: 14px 4%;
}
.navmenu  li  a:hover {
color:#006FD7;
}
.truck-owner {
display:none;
}
.load-owner {
display:none;
}
.loginpanel {
background:rgba(0,0,0,0.9);
z-index:100;
position:fixed;
width:60%;
height:400px;
display:none;
margin:5% 20%;
}
.loginpanel ul {
width:274px;
margin:10% auto;
}
.loginpanel ul li{
margin:10px auto;
}
.signuppanel {
background:rgba(0,0,0,0.9);
z-index:100;
position:fixed;
width:60%;
height:500px;
display:none;
margin:3% 20%;
}
.signuppanel ul {
width:274px;
margin:5% auto;
}
.signuppanel ul li{
margin:10px auto;
}
.steps {
width: 30px;
text-align: -webkit-center;
background: url('next.png') no-repeat;
background-size: cover;
font-size: 16px;
float: left;
height: 30px;
margin-left: 46px;
line-height: 28px;
margin-bottom: 30px;
}
.step2, .step3 {
display:none;
}
.closediv {
float:right;
position:absolute;
top:0;
right:0;
margin-right: 11px;
color: white;
margin-top: 7px;
}
.container {
width:100%;
height:90%;
}
.loaddetails, .truckdetails {
width: 400px;
height: 400px;
background:rgba(0,0,0,.8);
float:left;
margin:3% 3%;
}
.slider {
width:100%;
height:325px;
}
.loaddetailpane, .truckdetailpane {
padding:2% 5%;
display:none;
}
.first-slide {
display:block;
}
.loaddetailpane li, .truckdetailpane li {
padding-bottom:3%;
height:20px;
}
#profilepic {
height:60px;
vertical-align:middle;
background:url('proholder.png') no-repeat;
background-size:cover;
margin-right: 11px;
}
.nameplace a:hover {
color:#C24C0F;
}
.nameplace a {
color:white;
font-size: 17px;
font-weight: 700;
}
.infos {
padding:4px 10px;
color:white;
font-size: 17px;
font-weight: 700;
}
.button-opt {
margin-top:0;
}
.button-opt li {
float:left;
padding:0 25px;
}
.button-option {
padding:4px 15px;
font-size:13px;
font-weight:700;
background:transparent;
outline:none;
border:2px solid white;
color:white;
}
.button-option:hover {
background:#ffffff;
color:#242424;
cursor:pointer;
}
}
