* {margin:0; padding:0;}
body {
    font-family:'Maven Pro';
    color:white;
}
li {
    list-style:none;
}
a {
    text-decoration:none;
    color:black;
}
.textbox {
    width:250px;
    background:white;
    outline:none;
    padding:10px;
    border:none;
    box-shadow:0 0 2px #424242;
    margin:2px;
}
.buttons {
    width:80px;
    padding:10px;
    margin:2px;
    outline:white;
    border:none;
    color:white;
}
header {
    height:45px;
    width:100%;
    background:linear-gradient(white,lightgray);
    box-shadow: 0 0 8px #424242;
}

@media screen and (min-width:800px){
    body {
        background:url('/TransEarth/images/pattern.png');
    }
    header {
        height:45px;
        width:100%;
        background:linear-gradient(white,lightgray);
        box-shadow: 0 0 8px #424242;
    }
    #logo {
        height:40px;
        float:left;
        padding:2px 0;
        margin-left:4%;
    }
    .navmenu {
        width:45%;
        height:100%;
        float:right;
        font-size: 15px;
        font-weight: 500;
    }
    .navmenu  li {
        float:left;
        padding: 14px 4%;
    }
    .navmenu  li  a:hover {
        color:#006FD7;
    }
    .truck-owner {
        display:none;
    }
    .load-owner {
        display:none;
    }
    .loginpanel {
        background:rgba(0,0,0,0.9);
        z-index:100;
        position:fixed;
        width:60%;
        height:400px;
        display:none;
        margin:5% 20%;
    }
    .loginpanel ul {
        width:274px;
        margin:10% auto;
    }
    .loginpanel ul li{
        margin:10px auto;
    }
    .signuppanel {
        background:rgba(0,0,0,0.9);
        z-index:100;
        position:fixed;
        width:60%;
        height:500px;
        display:none;
        margin:3% 20%;
    }
    .signuppanel ul {
        width:274px;
        margin:5% auto;
    }
    .signuppanel ul li{
        margin:10px auto;
    }
    .steps {
        width: 30px;
        text-align: -webkit-center;
        background: url('/TransEarth/images/next.png') no-repeat;
        background-size: cover;
        font-size: 16px;
        float: left;
        height: 30px;
        margin-left: 46px;
        line-height: 28px;
        margin-bottom: 30px;
    }
    .step2, .step3 {
        display:none;
    }
    .closediv {
        float:right;
        position:absolute;
        top:0;
        right:0;
        margin-right: 11px;
        color: white;
        margin-top: 7px;
    }
    .container {
        width:100%;
        height:90%;
    }
    .loaddetails, .truckdetails {
        width: 400px;
        height: 400px;
        background:rgba(0,0,0,.8);
        float:left;
        margin:3% 3%;
    }
    .slider {
        width:100%;
        height:325px;
    }
    .truckdetailpane {
        padding:2% 5%;
    }
    .truckdetailpane.ng-enter,
    .truckdetailpane.ng-leave {
        -webkit-transition:300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -moz-transition:300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -o-transition:300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        transition:300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        position:absolute;
    }
    .truckdetailpane.ng-enter {
        marginLeft: "-100px";
        opacity: 0;
    }
    .truckdetailpane.ng-leave,
    .truckdetailpane.ng-enter.ng-enter-active {
        left:0;
        opacity: 1;
    }
    .truckdetailpane.ng-leave.ng-leave-active {
        marginLeft: "-100px";
        opacity: 0;
    }

    .loaddetailpane {
        padding:2% 5%;
        /*display:none;*/
    }
    .loaddetailpane.ng-enter,
    .loaddetailpane.ng-leave {
        -webkit-transition:0.5s linear all;
        -moz-transition:0.5s linear all;
        -o-transition:0.5s linear all;
        transition:0.5s linear all;
        position:absolute;
    }
    .loaddetailpane.ng-enter {
        /*display:block;*/
        left:100%;
    }
    .loaddetailpane.ng-leave,
    .loaddetailpane.ng-enter.ng-enter-active {
        left:0;
    }
    .loaddetailpane.ng-leave.ng-leave-active {
        left:-100%;
        /* display:none;*/
    }

    @keyframes my_animation {
        from { opacity:1; }
        to { opacity:0; }
    }
    @-webkit-keyframes my_animation {
        from { opacity:1; }
        to { opacity:0; }
    }

    @-moz-keyframes my_animation {
        from { opacity:1; }
        to { opacity:0; }
    }

    @-o-keyframes my_animation {
        from { opacity:1; }
        to { opacity:0; }
    }

    .switch {
        position: relative;
    }

    .switch > div {
        width: 655px;
        display: inline-block;
        position: absolute;
    }

    .animate-enter,
    .animate-leave
    {
        -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    }

    .animate-enter {
        left: 100%;
    }
    .animate-enter.animate-enter-active {
        left: 0;
    }

    .animate-leave {
        left: 0;
    }
    .animate-leave.animate-leave-active{
        left: -100%;
    }

    .first-slide {
        display:block;
    }
    .loaddetailpane li, .truckdetailpane li {
        padding-bottom:3%;
        height:20px;
    }
    #profilepic {
        height:60px;
        vertical-align:middle;
        background:url('/TransEarth/images/proholder.png') no-repeat;
        background-size:cover;
        margin-right: 11px;
    }
    .nameplace a:hover {
        color:#C24C0F;
    }
    .nameplace a {
        color:white;
        font-size: 17px;
        font-weight: 700;
    }
    .infos {
        padding:4px 10px;
        color:white;
        font-size: 17px;
        font-weight: 700;
    }
    .insert-enter {
        -webkit-transform:scale(0);
        transform:scale(0);
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-timing-function: ease-out-cubic;
        transition-timing-function: ease-out-cubic;
        -webkit-transition-duration: 400ms;
        transition-duration: 400ms;
    }
    .insert-enter.insert-enter-active {
        -webkit-transform:scale(1);
        transform:scale(1);
        transition-delay:500ms;
    }
    .insert-transition-delay-1 {
        -webkit-transition-delay:1000ms;
        transition-delay:1000ms;
    }
    .insert-transition-delay-2 {
        -webkit-transition-delay:2000ms;
        transition-delay:2000ms;
    }
    .insert-transition-delay-3 {
        -webkit-transition-delay:3000ms;
        transition-delay:3000ms;
    }
    .insert-transition-delay-4 {
        -webkit-transition-delay:4000ms;
        transition-delay:4000ms;
    }
    .button-opt {
        margin-top:0;
    }
    .button-opt li {
        float:left;
        padding:0 25px;
    }
    .button-option {
        padding:4px 15px;
        font-size:13px;
        font-weight:700;
        background:transparent;
        outline:none;
        border:2px solid white;
        color:white;
    }
    .button-option:hover {
        background:#ffffff;
        color:#242424;
        cursor:pointer;
    }
}
