<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<![endif]-->
		<title>Test</title>
		<!-- BOOTSTRAP CORE STYLE  -->
		<link href="bootstrap/css/bootstrap.css" rel="stylesheet" />
		<link href="css/bootswatch.less" rel="stylesheet" />
		<!-- FONT AWESOME ICONS  -->
		<link href="images/icons/css/font-awesome.css" rel="stylesheet" />
		<link type="text/css" href="bootstrap/css/bootstrap-select.min.css" rel="stylesheet"/>

		<!-- CUSTOM STYLE  -->
		<link href="angular/css/ng-grid.css" rel="stylesheet" type="text/css" />
		<link href="css/transEarthStyle.css" rel="stylesheet" />
		<link href="css/style.css" rel="stylesheet" />

		<!-- script src="https://maps.gstatic.com/maps-api-v3/api/js/21/0/main.js"></script>
		<script src="https://maps.gstatic.com/maps-api-v3/api/js/21/0/places.js"></script -->

		<!-- HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="scripts/html5shiv.js"></script>
		<script src="scripts/respond.min.js"></script>
		<![endif]-->
		<!-- Google Places API -->
		<!-- script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>

		<script src="maps.js"></script -->

	</head>
	<body ng-app="Otd" ng-controller="SearchForm">

		<div class="container" id="index">
			<!--div class="loaddetails">
				<div class="slider">
					<p class="nameplace" style="height:60px; margin:30px 20px;" ><img id="profilepic" src="images/load.png" alt=""><a href="#">Load Posts</a></p>
					<div ng-switch="index.loadSelection">
						<ul class="loaddetailpane" ng-switch-when="0">
							<li><p class="infos">FROM: {{index.loadPostList[0].source}}</p></li>
							<li><p class="infos">TO: {{index.loadPostList[0].destination}}</p></li>
							<li><p class="infos">TONS: {{index.loadPostList[0].capacity}}</p></li>
							<li><p class="infos">DATE: {{index.loadPostList[0].availableDate}}</p></li>
						</ul>
						<ul class="loaddetailpane" ng-switch-when="1">
							<li><p class="infos">FROM: {{index.loadPostList[1].source}}</p></li>
							<li><p class="infos">TO: {{index.loadPostList[1].destination}}</p></li>
							<li><p class="infos">TONS: {{index.loadPostList[1].capacity}}</p></li>
							<li><p class="infos">DATE: {{index.loadPostList[1].availableDate}}</p></li>
						</ul>
						<ul class="loaddetailpane" ng-switch-when="2">
							<li><p class="infos">FROM: {{index.loadPostList[2].source}}</p></li>
							<li><p class="infos">TO: {{index.loadPostList[2].destination}}</p></li>
							<li><p class="infos">TONS: {{index.loadPostList[2].capacity}}</p></li>
							<li><p class="infos">DATE: {{index.loadPostList[2].availableDate}}</p></li>
						</ul>
						<ul class="loaddetailpane" ng-switch-when="3">
							<li><p class="infos">FROM: {{index.loadPostList[3].source}}</p></li>
							<li><p class="infos">TO: {{index.loadPostList[3].destination}}</p></li>
							<li><p class="infos">TONS: {{index.loadPostList[3].capacity}}</p></li>
							<li><p class="infos">DATE: {{index.loadPostList[3].availableDate}}</p></li>
						</ul>
					</div>
				</div>
				<ul class="button-opt">
					<li style="padding-right: 65px;"><input class="button-option" type="submit" name="findmore" value="FIND MORE" /></li>
					<li><input class="button-option" type="submit" name="viewthis" value="VIEW THIS LOAD" /></li>
				</ul>
			</div -->
			<div class="truckdetails">
				<div class="slider">
					<p class="nameplace" style="height:60px; margin:30px 20px;" ><img id="profilepic" src="images/truck.png" alt=""><a href="#">Trucks Posts</a></p>
					<!-- div ng-switch="index.truckSelection" -->
						<!-- ul class="truckdetailpane" ng-switch-when="0" -->
						<ul ng-repeat="truck in index.truckPostList track by $index">
							<li ng-animate="'insert-enter'" ng-if="index.truckSelection==$index">
								<p class="infos">FROM: {{truck.source}}</p><br/>
								<p class="infos">TO: {{truck.destination}}</p><br/>
								<p class="infos">TONS: {{truck.capacity}}</p><br/>
								<p class="infos">DATE: {{truck.availableDate}}</p><br/>
							</li>
						</ul>
					<!-- /div -->
				</div>
				<ul class="button-opt">
					<li style="padding-right: 65px;"><input class="button-option" type="submit" name="findmore" value="FIND MORE" /></li>
					<li><input class="button-option" type="submit" name="viewthis" value="VIEW THIS LOAD" /></li>
				</ul>
			</div>
		</div>
		<!-- script src="assets/js/jquery-1.11.1.js"></script -->
		<script src="scripts/jquery-1.9.1.min.js"></script>
		<script src="scripts/jquery-ui-1.10.1.custom.min.js"></script>
		<!-- BOOTSTRAP SCRIPTS  -->
		<!-- script src="assets/js/bootstrap.js"></script -->
		<script src="bootstrap/js/bootstrap-select.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<!-- Angular -->
		<script src="angular/angular.min.js"></script>
		<script src="angular/angular-animate.min.js"></script>
		<script src="angular/angular-route.min.js"></script>
		<script src="angular/ui-bootstrap-tpls-0.10.0.js"></script>
		<script src="angular/angular-bootstrap-select.min.js"></script>
		<!-- Load Date & Time picker plugins -->
		<script src="bootstrap/js/daterangepicker.js"></script>
		<script src="angular/angular-daterangepicker.js"></script>
		<!-- Load Angular ng-grid -->
		<script src="angular/ng-grid.debug.js"></script>
		<!-- Load Angular ng-table -->
		<script src="angular/ng-table.js"></script>
		<script src="util.js"></script>
		<script src="scripts/alert.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&amp;libraries=places"></script>
		<script>
			'use strict';

			angular.module('Otd', ['ngAnimate']);

			/* Controllers */
			function SearchForm($scope, $http, $timeout){
				$scope.index = {};
				$scope.index.truckSelection = null;
				$scope.index.loadSelection = null;
				$scope.index.truckPostList = [];
				$scope.index.loadPostList = [];

				$scope.timeOutFn = function(){
					$timeout(function(){
						console.log("Current truck post displayed:"+JSON.stringify($scope.index.truckPostList[$scope.index.selection]));
						console.log("Current load post displayed:"+JSON.stringify($scope.index.loadPostList[$scope.index.selection]));
						if($scope.index.truckSelection > $scope.index.truckPostList.length - 2){
							$scope.index.truckSelection = 0;
						}else{
							$scope.index.truckSelection++;
						}
						if($scope.index.loadSelection > $scope.index.loadPostList.length - 2){
							$scope.index.loadSelection = 0;
						}else{
							$scope.index.loadSelection++;
						}
						console.log("Next truck post to display:"+JSON.stringify($scope.index.truckPostList[$scope.index.selection]));
						console.log("Next load post to display:"+JSON.stringify($scope.index.loadPostList[$scope.index.selection]));
						$scope.timeOut();
					}, 10000);
				};
				$scope.timeOut = function(){
					$scope.timeOutFn();
				};
				$http.post("/TransEarth/getTruckPostingsSummaryTest", {filters : []})
						.success(function(data) {
							if(typeof data != 'undefined' && data != null
									&& data.truckPostList != 'undefined' && data.truckPostList != null){
								console.log(JSON.stringify(data));
								$scope.index.loadPostList = data.truckPostList.details;
								$scope.index.truckPostList = data.truckPostList.details;
								$scope.index.loadSelection = 0;
								$scope.index.truckSelection = 0;
								$scope.timeOut();
							}else{
								$scope.index.truckPostListMessageAvailable = true;
								$scope.index.truckPostListMessage = "No data available";
								succesWarning($scope.index.truckPostListMessage, 'indexTruckPostListMessage');
								//console.log("No data available");
							}
						}).error(function(data) {
							$scope.index.truckPostListMessageAvailable = true;
							succesError(data.statusMsg, 'indexTruckPostListMessage');
						});
			}
		</script>
	</body>
</html>
